.html * {
  transition: all 0.25s ease-in-out;
}

.html {
  background-color: #ddd;
  font-family: sans-serif;
}

.homeNav {
  height: 50px;
  width: 100%;
  background-color: #222;
}

.homeNav ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.homeNav ul li {
  width: 100%;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.homeNav ul li a {
  height: 100%;
  width: 10vw;

  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  font-weight: normal;
  color: #ddd;
  font-size: 20px;
}

.homeNav ul li a:hover {
  font-weight: bold;
  background-color: #111;
}

.headerStyle {
  background-color: #25f;
  color: #ddd;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products {
  width: 80vw;
  height: 80vh;
  margin-left: 10vw;
  padding: 5vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.oneProduct {
  width: 70vw;
  height: 30vh;
  border-radius: 10vh;

  background-color: #ccc;
  color: #222;

  display: flex;
  align-items: center;
}

.prodImg {
  width: 20vh;
  aspect-ratio: 1;
  margin-left: 5vh;
  border-radius: 5vh;

  object-fit: cover;
  object-position: center;
}

.prodDesc {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;

  height: 20vh;
  margin-left: 5vh;
}

.prodTitle {
  font-size: 3vh;
  font-weight: bold;
}

.prodText {
  font-size: 2vh;
}

.prodPrice {
  width: 15vw;
  height: calc(1vw + 2.5vh);
  border-radius: 1vh;

  background-color: #25f;
  color: #ddd;
  text-decoration: none;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;
}

.prodPrice:hover {
  border-radius: 10vh;
}
